#nav-bar {
    background-color: #00a087;
    height: 80px;
    padding: 0 2rem;
    position: fixed;
    top: 0px;
    width: 100%;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px;
}

#nav-bar .header {
    color: #fff;
    float: left;
    font-size: 2rem;
    line-height: 80px;
    margin-left: 10px;
}

#nav-bar > ul {
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #00a087;
    display: flex;
    float: right;
    list-style: none;
    padding-left: 0.5rem;
    width: 6rem;
}

#nav-bar > li:not(:last-child) {
    margin-right: 0.5rem;
}