#nav-bar {
    background-color: #00a087;
    height: 80px;
    padding: 0 2rem;
    position: fixed;
    top: 0px;
    width: 100%;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px;
}

#nav-bar .header {
    color: #fff;
    float: left;
    font-size: 2rem;
    line-height: 80px;
    margin-left: 10px;
}

