#nav-bar {
    position: fixed;
    top: 0px;
    background-color: #00a087;
    height: 80px;

    color: #ffffff;
    right: 2em;
    padding-bottom: 0px;
    left: 2em;
}

img {
    width: 80px;
    height: 80px;
}

#nav-bar .logo {
    float: left;
}

#nav-bar .header {
    line-height: 75px;
    float: left;
    padding-left: 10px;
    font-size: 1.8em;
    
}