.new-tweet {
    background-color: #eeeeee;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    display: none;
    padding: 1rem;
    text-align: left;
}

.counter {
    float: right;
    font-style: italic;
    font-size: smaller;
    margin-top: 0.5rem;
}

.new-tweet h2 {
    content:' ';
    display:block;
    border-bottom:1px solid #000000;
}

.new-tweet form {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.new-tweet textarea {
    border-color: #A9A9A9;
    padding: 0.5rem;
}

.new-tweet input {
    margin-top: 0.5rem;
}

.new-tweet > .isa_error {
    color: red;
    display: flex;
}

.isa_error > i {
    margin-right: 0.2rem;
}

.isa_error > p {
    margin: 0;
}

